$font: 'Quicksand', sans-serif;
$primary: #333;
$secondary: #999;

//Breakpoints
$desktop: 1367px;
$laptop: 1220px;
$medium: 1025px;
$tablet: 770px;
$mobile: 451px;

// shadows
$shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);


//colors
$whitecity: #fbfeff;
$midnight: #2c3e50;
$clouds: #ecf0f1;
$asbesto: #95a5a6;
$icebreaker: #2980b9;
$connection: #16a085;
$intimacy: #f1c40f;
$firestarter: #e74c3c;
$custom: #8e44ad;